<!-- footer Part Start From Here -->
<div class="footer-fluid bg-dark">
    <footer class=" container bg-dark text-light footer">
        <div class="container ms-auto">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 ms-auto col-p text-left">
                    <p class="text-uppercase ">Qucik Browse</p>
                    <div class="col-item">
                        <p><a href="{% url 'course:home' %}" class="text-reset">Blog</a></p>
                        <p><a href="{% url 'course:home' %}" class="text-reset">Contact Us</a></p>
                        <p><a href="{% url 'enquiry:enquiryForm' %}" class="text-reset">Enquity</a></p>
                        <p><a href="{% url 'course:home' %}" class="text-reset">About Us</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  col-12 col-p text-left">
                    <p class="text-uppercase">More Option</p>
                    <div class="col-item">
                        <p><a href="{% url 'gideLine' %}" class="text-reset">Website Gide Line</a></p>
                        <p><a href="#" class="text-reset">Contact Us</a></p>
                        <p><a href="#" class="text-reset">Enquity</a></p>
                        <p><a href="#" class="text-reset">About Us</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 col-p address-footer text-center">
                    <h4 class="text-uppercase">Office Address</h4>
                    <p class="address-text">Aladipur, Jatpur-9420, Tala, Satkhira, Dhaka, Bangladesh</p>
                    
                </div>
                <div class="col-lg-3 col-md-6 col-12 col-p text-center">
                    <p class="text-uppercase">Our Social Link</p>
                    <div class="text-center">
                        
                        <a href="" class="footer-icon">
                          <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="footer-icon">
                          <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="footer-icon">
                          <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="" class="footer-icon">
                          <i class="fab fa-github"></i>
                        </a>
                      </div>      
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Footer Part End Here -->