{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Course{% endblock title %}
{% block content %}
<div class="row mt-4">
    
    <div class="col col-md-5" style="text-align:center;">
        <div class="alert alert-primary" role="alert">
            <b>{{form_title}} {{action}} Form</b>
        </div>   
    </div>
</div>
<div class="row mb-5">
    <div class="col col-md-5">
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary col-12 px-4">{{action}} {{form_title}}</button>
            </div>
        </form>    
    </div>
</div>
{% endblock content %}










