{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Teacher Sign Up Form{% endblock title %}
{% block content %}
<div class="row mt-4">
    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}
    <div class="col col-md-5" style="text-align:center;">
        <div class="alert alert-primary" role="alert">
            <b>Teacher Registration Form</b>
        </div>   
    </div>
</div>
<div class="row mb-5">
    <div class="col col-md-5">
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary col-12 px-4">Sign Up</button>
            </div>
        </form>    
    </div>
{% endblock content %}


